body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
    
}

.post {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.header{
    width: 100%;
    border: 1px solid green;
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 8px;
}

.icon-ellipse{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0px 5px 0px 0px;
    border: 2px solid ;

}

.tittle{
    width: 50%;
    border: 2px solid red;
}